<form name="form" class="form-horizontal" novalidate ng-submit="save(false)" role="form">
    <ns-box data-title="base-plugin-aquila.config.title"  title-icon="fa fa-home" close-href="#/modules">
        <ns-buttons is-edit-mode="isEditMode" save-and-quit="save(true)" disable-save="disableSave" return-path="/modules" form="form">
            <div class="form-group">
                <div class="col-sm-11">
                    <label for="userName" class="col-sm-2 control-label" >User's name</label>
                    <div class="col-sm-6">
                        <input placeholder="userName" type="text" class="form-control" id="userName" name="userName" ng-model="plugin.userName">
                        <div class="ns-error-message" ng-show="form.userName.$touched || form.nsSubmitted">
                            <div ng-show="form.userName.$error.required">Field required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <label for="password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-6">
                        <input placeholder="password1234" type="text" class="form-control" id="password" name="password" ng-model="plugin.userSecret" required>
                        <div class="ns-error-message" ng-show="form.password.$touched || form.nsSubmitted">
                            <div ng-show="form.password.$error.required">Field required</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-11">
                    <label for="verifCode" class="col-sm-2 control-label">Verification code</label>
                    <div class="col-sm-6">
                        <input placeholder="(required onyl if two factor connection)" type="text" class="form-control" id="verifCode" name="verifCode" ng-model="plugin.verifCode" required>
                        <div class="ns-error-message" ng-show="form.verifCode.$touched || form.nsSubmitted">
                            <div ng-show="form.user.$error.required">Field required</div>
                        </div>
                    </div>
                </div>
            </div>
        </ns-buttons>
    </ns-box>
</form>